
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.cssBase }}detail.css?v={{ layui.admin.v }}-1" media="all">

    <link rel="stylesheet" href="{{ layui.setter.cssBase }}global.css?v={{ layui.admin.v }}-1" media="all">
</script>
<title>李才人 - 意见反馈</title>
<style>
    .layui-table-cell{
        height: auto;
    }
    .fly-list-nums{
        position: relative;
    }
</style>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>作息时间</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
                        <button id= "LAY_add_btn" class="layui-btn" data-type="add">添加</button>
                    </div>
                    <table class="layui-hide" id="test-table-autowidth1" lay-filter="test-table-operate"></table>

                    <script type="text/html" id="test-table-operate-barDemo">
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['table', 'layer', 'admin'], function(){
        var table = layui.table,
            layer = layui.layer,
            admin = layui.admin,
            $ = layui.$;


        var tplPost = function(d){
            return `<li class="table-li">
                        <img src="${d.avatar}" class="user-img">
                        <div class="desc-box">
                            <h2 style="cursor: pointer">
                                <a href="">${d.content}</a>
                            </h2>
                            <div class="fly-list-info">
                                <a href="user/home.html">
                                    <cite>${d.name}</cite>
                                </a>
                            </div>
                        </div>
                    </li>`;
        };
        var url = layui.setter.host + 'admin/post';
//        var currId = 0;
//        if (layui.router().search.id == 0) {
//            $('#LAY_back_btn').hide();
//        } else if (typeof layui.router().search.id != 'undefined') {
//            url = url + '?id=' + layui.router().search.id;
//            currId = layui.router().search.id;
//        } else {
//            $('#LAY_back_btn').hide();
//        }
        table.render({
            elem: '#test-table-autowidth1'
            ,url: '/static/json/table/rest.json'
            ,cellMinWidth: 80
            ,cols: [[
                {title: '全部作息',templet: tplPost},
                {title: '操作', width:175, align:'center', toolbar: '#test-table-operate-barDemo'}
            ]]
            ,page: true
            ,where: {
                access_token: layui.data('layuiAdmin').access_token
            }
        });
        //监听工具条
        table.on('tool(test-table-operate)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
//                window.location.hash = '#/id=' + data.id;
                window.location.hash = '#/detail/id=' + data.id;
            } else if(obj.event === 'edit'){

            }else if(obj.event === 'del'){
                layer.confirm('真的要删除吗？', function(index){
                    console.log(data.id);
                    $.ajax({
                        url: layui.setter.host + 'admin/post/delete'
                        ,type: 'GET'
                        ,data: { id: data.id }
                        ,success: function(res){
                            if(res.code == 0){
                                layer.msg(res.msg ,{
                                    offset: '15px'
                                    ,icon: 1
                                    ,time: 1000
                                });
                                table.reload('test-table-autowidth1');
                            }else {
                                layer.msg('删除失败' ,{
                                    offset: '15px'
                                    ,icon: 2
                                    ,time: 1000
                                });
                            }
                        }
                    });

                    layer.close(index);
                });
            }
        });
        var $ = layui.$, active = {
            back: function () {
                admin.req({
                    url: layui.setter.host + 'folder/back'
                    ,data: { id: currId }
                    ,done: function(res){
                        if (res.code === 0) {
                            window.location.hash = (res.data.id == 0) ? '#/' : ('#/id=' + res.data.id);
                        }
                    }
                });
            },
            add: function () {

                layer.open ({
                    type : 1,
                    title : '添加作息',
                    id: 'myp',
                    btn: ['确认'],
                    skin: 'layui-layer-molv',
                    area: admin.screen() < 2 ? ['100%', '80%'] : ['600px', '300px'],
                    content : $('#add-wrapper'),
                    content : `<div class="layui-fluid" id="add-wrapper">
                                <div class="layui-card">
                                    <div class="layui-card-body" style="padding: 15px;">
                                        <form class="layui-form" action="" lay-filter="component-form-group">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">单行输入框</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">验证必填项</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                                                </div>
                                            </div>

                                            <div class="layui-form-item">
                                                <div class="layui-input-block">
                                                    <div class="layui-footer">
                                                        <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交</button>
                                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>`,
                    success : function (layero,index) {
                        var btn = layero.find('.layui-layer-btn0');
                        console.log(btn)
                    },

                    yes: function(index, layero){
//                        admin.req({
//                            url: layui.setter.host + 'folder/back'
//                            ,data: { id: currId }
//                            ,done: function(res){
//                                if (res.code === 0) {
//                                    window.location.hash = (res.data.id == 0) ? '#/' : ('#/id=' + res.data.id);
//                                }
//                            }
//                        });
                        layer.msg('添加成功', {icon: 1,time: 1500});
                        layer.close(index); //如果设定了yes回调，需进行手工关闭
                    },
                    btn2: function () {
                        console.log('btn2')
                        layer.msg('已取消', {icon: 1});
                    }
                });
            },
            detail: function () {
//                window.location.hash = '#/detail/id=' + data.id;
                window.location.hash = '#/detail';
            }
        };
        $('.test-table-operate-btn .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>