<head>
    <meta charset="utf-8"> 
    {{template "title" .}}
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    {{template "css" .}}
</head>

{{define "title"}}
<title>智铃校园后台管理</title>
{{end}}

{{define "css"}}{{end}}