*{
    padding: 0;
    margin: 0;
}
body{
    color: #666;
}
ul,li{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
.dynamic-fluid{
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 15px;
}
.dynamic-card{
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    padding: 15px;
    line-height: 24px;
}
.fly-list li:last-child {
    border-bottom: none;
}
.user-img{
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 2px;
}
.fly-list li {
    position: relative;
    height: 45px;
    line-height: 22px;
    padding: 15px 15px 15px 75px;
    border-bottom: 1px dotted #e2e2e2;
    display: flex;
    align-items: center;
}
.fly-list li h2 {
    height: 26px;
    font-size: 0;
    cursor: pointer;
}
.fly-list li h2, .fly-list li h2 a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.desc-box{
    display: inline-block;
    margin-left: 20px;
}
.fly-list li h2 a {
    display: inline-block;
    max-width: 80%;
    padding-right: 10px;
    font-size: 16px;
}
.fly-list-info {
    position: relative;
    font-size: 13px;
    color: #999;
}
.icon-kiss:before {
    content: "\e6cd";
}
.icon-pinglun1:before {
    content: "\e631";
}
.fly-list-info a[link] {
    color: #999;
}
.fly-list-info>* {
    padding-right: 15px;
}
.fly-list-kiss {
    color: #FF5722;
}
.table-li{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.table-li h2 a {
    font-size: 18px;
}
.layui-form-label {
    width: auto;
}
.layui-input-block {
    margin-left: 60px;
}